war_and_peace_schema.rnc

start= war_and_peace
war_and_peace= element war_and_peace {eight, ch+}
eight= element eight {text}
#
#
ch= element ch {title+, p+, text}
title= element title {text}
p= element p {mixed {(chara | q)*}}
#
#
chara= element chara {text}
q= element q { mixed { (chara | q2)*}}
q2 = element q2 { mixed { (chara)* }}