war_and_peace_schema.rnc

start= war_and_peace
war_and_peace= element war_and_peace {eight, ch+}
eight= element eight {text}
#
#
ch= element ch {title+, p+, text}
title= element title {text}
p= element p {mixed {(chara | q)*}}
#
#
chara= element chara {ref?, text}
ref= attribute ref { "PIERRE" | "NATASHA" | "SONYA" | "MARYA D" | "ANATOLE" | "DOLOKHOV" | "BOLKONSKY" | "ANDREY" | "MARY" | "HÉLÈNE" | "BALAGA" }
q= element q {mixed {(q2 | chara)*}}
#
#
q2= element q2 {mixed {(chara)*}}

